.versionDropdownButton {
  background: transparent;
  border: none 0px;
}

/* todo: figure out how to make the opening and closing smooth */
.change-log {
  border-radius: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #444444;
  width: fit-content;
  margin-top: 5px;
}

.change-log .logs {
  padding-right: 10px;
  overflow: hidden;
}

.change-log .logs .log {
  padding-left: 20px;
}

.change-log .logs h4 {
  padding-left: 10px;
}

.change-log .versionDropdownButton {
  padding-top: 7.5px;
  font-size: large;
}

.change-log[data-open="0"] .versionDropdownButton::after {
  content: " ...";
  white-space: pre;
  display: inline-flexbox;
  font-size: large;
}

.versionDropdownButton i {
  padding-right: -10px;
  opacity: 1;
}

.versionDropdownButton:hover {
  cursor: pointer;
}

.versionDropdownButton:active {
  opacity: 0.5;
}

.version-content {
  padding-left: 10px;
}